<%- include('./partials/header.ejs') %>

    <h1>Home</h1>
    <p>
        <%= homeStartingContentEjs %>
    </p>

    <% posts.forEach((post)=>{%>
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <%= post.content.substring(0, 100) + "..." %>
        </p>
        <%})%>









            <%- include('./partials/footer.ejs') %>